*{
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;  
    /*This sets the positioning of the navbar to sticky. A sticky element
     toggles between relative and fixed positioning, depending on the user's scroll position. 
     It remains "stuck" to a given position in the viewport (as specified by the next property) 
     until a certain scroll threshold is reached.*/
     top: 0; 
     /*When used with position: sticky;, this specifies that the navbar should stick to the top of the 
     viewport once it's scrolled to its initial position.*/

}
.navbar-container{
    display: flex;/*This sets the container to use the CSS Flexbox layout model,
     allowing for flexible and efficient arrangement of child elements inside the container.*/
    align-items: center;/*aligns the items of the container to the center of container*/
    background-color: rgba(2, 14, 26, 0.294);
    padding: 0 70px;
    height: 100%;
}
.logo-container{
    flex: 1;
}
.logo{
    font-size: 25px;
  color: #01a917;
}
.menu-container{
    flex: 5;
    justify-content: center;
    color: antiquewhite;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right:35px;
}
.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 3;
    color: rgb(158, 145, 129);
    align-items: center;
    justify-content: flex-end;
}
.sidebar{
    width: 50px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed; /*sidebar is always there*/
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 60px;
}

.left-menu-icon{
    color: rgb(241, 232, 232);
    font-size: 20px;
    margin-bottom: 40px;
  }

.container{
    background-color: rgb(30, 27, 27);
    min-height: calc(100vh - 50px);
    color: aliceblue;
}

.content-container{
    margin-left:50px;
}

.featured-content{
    height: 60vh;
    padding: 60px;
}
.featured-title{
    width:400px;

}
.featured-desc{
    width: 500px;
    color: blanchedalmond;
    margin: 30px 0;
}

.button{
    padding: 20px 30px;
    color:rgb(241, 233, 233);
    background-color: rgb(45, 8, 1);
    border-radius:10px;
    border: none;
    outline: none;
}

.movie-list-container{
    padding:20px;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 30px;
    margin: 0 30px;
  opacity: 0.5;
}
.movie-list-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;

}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
  }

.movie-list-item-title{
    background-color: rgba(60, 12, 12, 0.507);
    padding: 0 30px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
} 

.movie-list-item-desc {
    background-color: #362c2c73;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }

  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .movie-list-item-button {
    padding:  10px 20px;
    font-weight: bold;
    background-color: #1c1e1b;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }

.arrow{
    font-size: 90px;
    position: absolute;
    top:90px;
    right: 0;
    color:rgb(158, 145, 129);
    opacity: 0.5;
    cursor: pointer;
}

